.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 26.875rem;
  background: #fff;
  border-top: 1px solid #f0f0f0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.625rem 0 1rem;
  z-index: 200;
  box-shadow: 0 -0.25rem 1.25rem rgba(0, 0, 0, 0.06);
}

.bottom-nav__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #aaa;
  font-size: 0.6875rem;
  font-weight: 500;
  font-family: inherit;
  padding: 0.25rem 0.75rem;
  border-radius: 0.625rem;
  transition: color 0.15s;
}

.bottom-nav__item:hover {
  color: #4F46E5;
}

.bottom-nav__item--active {
  color: #4F46E5;
}

/* ── Mobile ── */
@media (357px <= width <= 430px) {
  .bottom-nav {
    max-width: 100%;
  }
}

/* ── Tablet ── */
@media (768px <= width <= 1024px) {
  .bottom-nav {
    max-width: 100%;
  }

  .bottom-nav__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #aaa;
    font-size: 1.0rem;
    font-weight: 500;
    font-family: inherit;
    padding: 0.25rem 0.75rem;
    border-radius: 0.625rem;
    transition: color 0.15s;
  }

  .bottom-nav__item img{
    height: auto;
    width: 3.125rem;
  }
}

/* ── Desktop ── */
@media (min-width: 1025px) {
  .bottom-nav {
    display: none;
  }
}