body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ── CONTRAST ── */
html.contrast {
  filter: invert(1) hue-rotate(180deg);
}

/* ── LARGE TEXT ── */
html.largeText {
  font-size: 1.5em;
}

/* ── MARK LINKS ── */
html.markLinks a, html.markLinks button, html.markLinks input {
  text-decoration: underline !important;
  font-weight: bold !important;
  outline: 2px solid red !important;
  background-color: yellow !important;
  color: black !important;
}